<html>
<% var type = 'teacher'; %>

<% if (teacher) { %>

<head>
	<link rel="stylesheet" href="static/skeleton/css/normalize.css">
	<link rel="stylesheet" href="static/skeleton/css/skeleton.css">

	<div class='container'>
		<div class="row"><div class="twelve columns"><h1> Teacher Dashboard </h1></div></div>
		<div class="row">
			<div class="two columns"><strong>Name: </strong><%= teacher.name %></div>
			<div class="four columns"><strong>Email: </strong><%= teacher.email %></div>
		</div><br>
		<div class="row">
			<div class="two columns"><a class="u-full-width button" href="/">Home</a></div>
			<div class="two columns"><a class="u-full-width button" href="/logout">Log out</a></div>
			<div class="two columns"><a class="u-full-width button button-primary" href="/linkstripeaccount">Link Stripe</a></div>
		</div>
	</div>
</head>

<body>
	<div class='container'>
		<div class="row">
		  	<!-- Start a request -->
			<form action="/teacheropentransaction" method="post">
				<div class="three columns">
					<input class="u-full-width" type="number" name="transaction_amount" placeholder="Transaction Amount" required="" min="0" step="0.01">
				</div>
				<div class="three columns">
					<input class="u-full-width" type="text" name="intended_for" placeholder="Intended Usage" required="">
				</div>
				<div class="two columns">
					<select class="u-full-width" id="company" name="company">
					<!-- <script type="text/javascript"> -->
					    <option value="" disabled selected>Choose Sponsor</option>
					<% for (var i=0; i<= company_names.length; i++ ) { %>
						<option value=<%= company_names[i] %>><%= company_names[i] %></option>
					<% } %>
					<!-- </script> -->
					</select>
				</div>
				<div class="two columns">
					<input type="submit" value="Send request">
				</div>
			</form>
		</div>
		
		<br>
		<h5>Open Transactions (<%=open_transactions.length%>)</h5>
		<table class="u-full-width">
		  	<thead>
			    <tr><th>Date Requested</th> <th>From (Company)</th> <th>To (Teacher)</th> <th>Amount</th> <th>Action</th></tr>
			</thead>
			<tbody>
				<% for (var i=0; i < open_transactions.length; i++ ) { %>
					<% var ot = open_transactions[i]; %>
					<tr>
						<td><%=ot.date_requested.toLocaleString()%></td>
						<td><%=ot.company_name%></td>
						<td><%=ot.teacher_name%></td>
						<td>$<%=ot.amount%></td>
						<td>
						<% if (ot.requester == type) { %>
							<form action="/deletetransaction" method="post" style="display:inline!important">
								<input type="hidden" name="delete_id" value=<%=ot._id%>>
								<input type="submit" value="Cancel request" style="color:red"> 
							</form>
						<% } else { %>
							<form action="/approveorrejectopentransaction" method="post" style="display:inline!important">
								<input type="hidden" name="modify_id" value=<%=ot._id%>>
								<div class="u-half-width u-pull-left"><input type="submit" name="req_action" value="Approve request" style="padding: 0 10px; color:green "></div>
								<div class="u-half-width u-pull-right"><input type="submit" name="req_action" value="Reject request" style="padding: 0 10px; color:red"></div>
							</form>
						<% } %>
						</td>
				    </tr>
				<% } %>
			</tbody>
		</table>


		<br>
		<h5>Rejected Transactions (<%=rejected_transactions.length%>)</h5>
		<table class="u-full-width">
		  	<thead>
			    <tr><th>Date Requested</th> <th>From (Company)</th> <th>To (Teacher)</th> <th>Amount</th> <th>Action</th></tr>
			</thead>
			<tbody>
				<% for (var i=0; i < rejected_transactions.length; i++ ) { %>
					<% var t = rejected_transactions[i]; %>
					<tr>
						<td><%=t.date_requested.toLocaleString()%></td>
						<td><%=t.company_name%></td>
						<td><%=t.teacher_name%></td>
						<td>$<%=t.amount%></td>
						<td>
							<form action="/deletetransaction" method="post" style="display:inline!important">
								<input type="hidden" name="delete_id" value=<%=t._id%>>
								<input type="submit" value="Clear Rejected Request" style="color:red"> 
							</form>
						</td>
				    </tr>
				<% } %>
			</tbody>
		</table>

		<h5>Approved Transactions (<%=approved_transactions.length%>)</h5>
		<table class="u-full-width">
		  	<thead>
			    <tr><th>Date Requested</th> <th>From (Company)</th> <th>To (Teacher)</th> <th>Amount</th> <th>Action</th></tr>
			</thead>
			<tbody>
				<% for (var i=0; i < approved_transactions.length; i++ ) { %>
					<% var t = approved_transactions[i]; %>
					<tr>
						<td><%=t.date_requested.toLocaleString()%></td>
						<td><%=t.company_name%></td>
						<td><%=t.teacher_name%></td>
						<td>$<%=t.amount%></td>
						<td></td>
				    </tr>
				<% } %>
			</tbody>
		</table>

		<br>
		<h5>Completed Transactions (<%=completed_transactions.length%>)</h5>
		<table class="u-full-width">
		  	<thead>
			    <tr><th>Date Requested</th> <th>From (Company)</th> <th>To (Teacher)</th> <th>Amount</th> <th>Action</th></tr>
			</thead>
			<tbody>
				<% for (var i=0; i < completed_transactions.length; i++ ) { %>
					<% var t = completed_transactions[i]; %>
					<tr>
						<td><%=t.date_requested.toLocaleString()%></td>
						<td><%=t.company_name%></td>
						<td><%=t.teacher_name%></td>
						<td>$<%=t.amount%></td>
						<td></td>
				    </tr>
				<% } %>
			</tbody>
		</table>

	</div>

</body>

<% } else { %>

<head>
	<div class="container">
		<h1>You are not logged in.</h1>
		<div class="row">
			<a class="three-column button" href="/">Home</a><br>
			<a class="three-column button" href="/<%=type%>reglog">Teacher Login</a>
		</div>
	</div>
</head>


<% } %>

</html>